#bOX1{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
}
#bOX2{
    width: 100%;
    height: 100vh;
    background-color:blue;
}
#bOX3{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}
#boX4{
    width: 100vw;
    height: 100vh;
    background-color: green;
}